body {
	max-height: 100vh;
}

.header {
	width           : 100%;
	height          : 8vh;
	background-color: pink;
}

.footer {
	width           : 100%;
	height          : 8vh;
	background-color: gray;
	display         : -webkit-box;
	display         : -ms-flexbox;
	display         : flex;
	-webkit-box-pack: justify;
	-ms-flex-pack   : justify;
	justify-content : space-between;

	p {
		margin: 0;
	}

	&__container {
		&__left {
			display     : -webkit-box;
			display     : -ms-flexbox;
			display     : flex;
			padding-left: 7rem;
		}

		&__right {
			display      : -webkit-box;
			display      : -ms-flexbox;
			display      : flex;
			padding-right: 7rem;
		}
	}
}

.container {
	background: aqua;
	display   : -webkit-box;
	display   : -ms-flexbox;
	display   : flex;
	height    : 84vh;

	&__left {
		width           : 5%;
		height          : 100%;
		background-color: green;

		ul {
			list-style-type  : none;
			margin           : 0;
			-webkit-transform: rotate(90deg);
			transform        : rotate(90deg);
			display          : -webkit-box;
			display          : -ms-flexbox;
			display          : flex;
			position         : relative;
			top              : 10rem;

			&.hidden {
				display: none;
			}

			li {
				min-width: 85px;
			}
		}
	}

	&__right {
		width           : 5%;
		height          : 100%;
		background-color: red;
	}

	&__main {
		width           : 90%;
		height          : 100%;
		background-color: blue;
	}
}
/* DLA OVERLAY MENu*/
.button {
	background-color: gray;
	position        : fixed;
	top             : 4.5%;
	right           : 7.2%;
	height          : 3rem;
	width           : 6.1rem;
	cursor          : pointer;
	z-index         : 100;
}

.button__menu {
	position          : fixed;
	top               : 6%;
	right             : 8%;
	height            : 27px;
	width             : 35px;
	cursor            : pointer;
	z-index           : 100;
	-webkit-transition: opacity 0.25s ease;
	transition        : opacity 0.25s ease;
	background-color  : transparent;

	&:hover {
		opacity: 0.7;
	}

	&.active {
		.top {
			-webkit-transform: translateY(6px) translateX(0) rotate(45deg);
			transform        : translateY(6px) translateX(0) rotate(45deg);
			background       : #000;
		}

		.bottom {
			-webkit-transform: translateY(-6px) translateX(0) rotate(-45deg);
			transform        : translateY(-6px) translateX(0) rotate(-45deg);
			background       : #000;
		}
	}

	span {
		background        : #FF5252;
		border            : none;
		height            : 5px;
		width             : 100%;
		position          : absolute;
		top               : 5px;
		left              : 0;
		-webkit-transition: all 0.35s ease;
		transition        : all 0.35s ease;
		cursor            : pointer;

		&:nth-of-type(2) {
			top: 16px;
		}
	}
}

.button__search {
	position          : fixed;
	top               : 6%;
	right             : 11%;
	height            : 27px;
	width             : 35px;
	cursor            : pointer;
	z-index           : 100;
	-webkit-transition: opacity 0.25s ease;
	transition        : opacity 0.25s ease;
	background-color  : transparent;

	&:hover {
		opacity: 0.7;
	}

	&.active {
		.top {
			-webkit-transform: translateY(11px) translateX(0) rotate(45deg);
			transform        : translateY(11px) translateX(0) rotate(45deg);
			background       : #000;
		}

		.middle {
			opacity   : 0;
			background: #000;
		}

		.bottom {
			-webkit-transform: translateY(-11px) translateX(0) rotate(-45deg);
			transform        : translateY(-11px) translateX(0) rotate(-45deg);
			background       : #000;
		}
	}

	span {
		background        : #FF5252;
		border            : none;
		height            : 5px;
		width             : 100%;
		position          : absolute;
		top               : 0;
		left              : 0;
		-webkit-transition: all 0.35s ease;
		transition        : all 0.35s ease;
		cursor            : pointer;

		&:nth-of-type(2) {
			top: 11px;
		}

		&:nth-of-type(3) {
			top: 22px;
		}
	}
}

.overlay {
	position          : fixed;
	background        : #FF5252;
	top               : 8%;
	left              : 5%;
	width             : 90%;
	height            : 0;
	opacity           : 0;
	visibility        : hidden;
	-webkit-transition: opacity 0.35s, visibility 0.35s, height 0.35s;
	transition        : opacity 0.35s, visibility 0.35s, height 0.35s;
	overflow          : hidden;

	&__menu {
		position         : relative;
		height           : 70%;
		top              : 50%;
		-webkit-transform: translateY(-50%);
		transform        : translateY(-50%);
		font-size        : 50px;
		font-family      : 'Vollkorn', serif;
		font-weight      : 400;
		text-align       : center;

		ul {
			list-style: none;
			padding   : 0;
			margin    : 0 auto;
			display   : inline-block;
			position  : relative;
			height    : 100%;

			li {
				display   : inline-block;
				height    : 25%;
				height    : calc(100% / 4);
				min-height: 50px;
				position  : relative;
				opacity   : 0;

				a {
					display        : block;
					position       : relative;
					color          : darkgreen;
					text-decoration: none;
					overflow       : hidden;

					&:active:after,
					&:focus:after,
					&:hover:after {
						width: 100%;
					}

					&:after {
						content           : '';
						position          : absolute;
						bottom            : 0;
						left              : 50%;
						width             : 0;
						-webkit-transform : translateX(-50%);
						transform         : translateX(-50%);
						height            : 3px;
						background        : darkgreen;
						-webkit-transition: 0.35s;
						transition        : 0.35s;
					}
				}
			}
		}
	}

	&.open {
		opacity   : 0.9;
		visibility: visible;
		height    : 84%;

		li {
			-webkit-animation      : fadeInRight 0.5s ease forwards;
			animation              : fadeInRight 0.5s ease forwards;
			-webkit-animation-delay: 0.35s;
			animation-delay        : 0.35s;

			&:nth-of-type(2) {
				-webkit-animation-delay: 0.4s;
				animation-delay        : 0.4s;
			}

			&:nth-of-type(3) {
				-webkit-animation-delay: 0.45s;
				animation-delay        : 0.45s;
			}

			&:nth-of-type(4) {
				-webkit-animation-delay: 0.50s;
				animation-delay        : 0.50s;
			}
		}
	}
}
@-webkit-keyframes fadeInRight {
	0% {
		opacity: 0;
		left   : 20%;
	}

	100% {
		opacity: 1;
		left   : 0;
	}
}
@keyframes fadeInRight {
	0% {
		opacity: 0;
		left   : 20%;
	}

	100% {
		opacity: 1;
		left   : 0;
	}
}